 .u-section-1 {
  min-height: 814px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  margin: 10px auto 0 calc(((100% - 1140px) / 2) + 446px);
  padding: 10px 99px;
}

.u-section-1 .u-group-1 {
  height: auto;
  min-height: 748px;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-1 .u-table-1 {
  margin-bottom: 0;
  margin-top: 11px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
}

.u-block-4811-18 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-table-1 {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}