{% extends 'base.html' %}

{% block body %}

    <link rel="stylesheet" href="static/css/nice.css" media="screen">

    <section class="u-clearfix u-section-1" id="sec-563a">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-container-style u-expanded-width u-grey-10 u-group u-opacity u-opacity-40 u-group-1">
          <div class="u-container-layout u-valign-top u-container-layout-1">
            <p class="u-large-text u-text u-text-default u-text-variant u-text-1">Статус документа:&nbsp;<br>{{ status }}
            </p>
          </div>
        </div>
      </div>
    </section>

  
{% endblock %}